@import "../../../css/mixins/heights";
@import "../../../css/util/_breakpoints";
@import "../../../css/variaveis/caminhos";
@import "../../../css/variaveis/caminhos";
@import "../../../css/util/breakpoints";
@import "../../../css/mixins/button";

a {
    color: darken($cor1, 14);
}

@include respond-to(bigger) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr); //grid-template-columns: repeat(8, 1fr);
        
        grid-template-rows: auto;
        grid-template-areas:
            "nav nav nav nav nav"
            "conteudo conteudo conteudo conteudo side "
            "foot foot foot foot foot";
        padding: 0;
    }

    footer {
        border: 1px solid rgb(23, 173, 0);
        margin: 1vw;
        grid-area: foot;
        position: relative;
        width: 100%;

        left: 49%;
        transform: translateX(-50%);
        top: 0.993906vw;
    }

    nav {
        grid-area: nav;
        padding: 10px;
        //grid-column: 1/9;
        //grid-row: 1/2;
    }

    main {
        grid-area: conteudo;
        padding: 10px;
        //grid-column: 1/7;
        //grid-row: 2/3;
        color: $cor1;
        line-height: 1.8;
        padding-left: 8.59375vw;
        padding-top: 5vw;
        padding-bottom: 2vw;
        h1 {
            font-size: 1.953125vw;
            text-transform: capitalize;
            margin-top: 2vw;
            margin-bottom: 2vw;
        }
        .thumb {
            width: 100%;
            height: auto;
            border-radius: 0.68359375vw;
        }

        figure {
            max-width: 99%;
            img {
                max-width: 99%;
                height: auto;
            }
        }

        #content {
            border: 1px solid $cor1;
            border-radius: 0.390625vw;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 1.4vw;
            p {
                text-align: justify;
            }
        }
    }

    aside {
        // grid-area: lateral;
        display: none;
        padding: 10px;
        grid-area: side;
        //grid-row: 2/3;
        //grid-column: 7/8;
    }
}
